h2 {
    /*color: #1400FF;*/
    font-weight: bold;
    margin-bottom: 20px;
}

.table-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
    gap: 0;
    /*align-items: center;*/
}

.table-header, .row {
    display: grid;
    grid-template-columns: subgrid; /* Наследуем колонки от родителя */
    grid-column: 1 / -1; /* Занимаем все колонки */
    /*min-height: 30px; !* Минимальная высота *!*/
    /*display: contents;*/
    /*justify-content: center;*/
    /*padding: 10px 20px;*/
    /*gap: 10px;*/
}

.table-header {
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.table-header > div {
    position: sticky;
    top: 0;
    /*z-index: 10;*/
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.row > div {
    border: 2px solid #1400FF;
    border-radius: 10px;
    margin: 10px 0;
    background: #fff;
    padding: 10px 20px;
    gap: 10px;
    border-left: none;
    border-right: none;
    color: black;
    font-size: 14px;
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    text-align: center;
    display: flex;

    word-break: break-word;       /* Перенос длинных слов */
    overflow-wrap: break-word;    /* Перенос по словам */
    hyphens: auto;
    overflow: hidden;

    height: 50px; /* или min-height + max-height */
    min-height: 50px;
    max-height: 50px;
}

.btn {
    padding: 6px 14px;
    border: none;
    background: #1400FF;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: #002ecc;
}