h2 {
    /*color: #1400FF;*/
    font-weight: bold;
    margin-bottom: 20px;
}

.table-header, .row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.table-header {
    border-bottom: 2px solid #ccc;
    font-weight: bold;
}

.row {
    border: 2px solid #1400FF;
    border-radius: 10px;
    margin: 10px 0;
    background: #fff;
    color: black;
}

.btn {
    padding: 6px 14px;
    border: none;
    background: #1400FF;
    color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover {
    background: #002ecc;
}

.container {
    /*max-width: 900px;*/
    /*margin: auto;*/
}