.form-container {
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    margin: 0 auto;
}

#modalContext {
    background-color: white;
    color: #1400FF;
    margin: auto; /* Центрируем окно */
    padding: 20px;
    border: 1px solid #1400FF;
    border-radius: 10px; /* Закруглённые углы */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Тень */
    box-sizing: border-box;
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; /* Сдвигаем на 50% сверху */
    left: 50%; /* Сдвигаем на 50% слева */
    transform: translate(-50%, -50%); /* Центрируем */
}

#modalContext.night {
    background-color: #1a1a3d;
    color: white;
}

#modalBody textarea {
    color: black;
    background: white;
    width: 100%; /* Занимают всю ширину контейнера */
    padding: 10px; /* Внутренние отступы */
    margin-bottom: 15px; /* Отступ между элементами */
    border: 1px solid #ccc; /* Граница */
    border-radius: 4px; /* Закруглённые углы */
    font-size: 16px; /* Размер шрифта */
    box-sizing: border-box; /* Учитываем padding и border в ширине */
    min-height: 50px; /* минимальная высота */
    /*height: auto;*/
    /*resize: none; !* отключаем ручное изменение *!*/
    /*overflow: hidden; !* скрываем скролл *!*/
}

.form-group {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

.modal_text, input, select {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 12px;
    border: 1px solid #1400FF;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    color: black;
    background-color: #f9f9f9;
}
.save-btn {
    background-color: #1400FF;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    /*margin: 5px;*/
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s;
}

.save-btn:hover {
    background-color: #45a049;
}

.info_button {
    background-color: #1400FF;
    color: white;
    border: none;
    padding: 12px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.info_button:hover {
    background-color: #45a049;
}

.disable-btn {
    background-color: grey;
    width: 100%;
    color: white;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.InfoPageHeader {
    display: flex;
    justify-content: center;
    gap: 10px; /* расстояние между кнопками и toggle */
}

.InfoPageHeader.solo {
    justify-content: flex-end;
}

.filter-widget {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.filter-widget input {
    margin: 0;
}